
  <div class="container items-list" cdkDropList #itemsList="cdkDropList"
       [cdkDropListData]="items"
       [cdkDropListConnectedTo]="[testList]"
       (cdkDropListDropped)="drop($event)"
       cdkDropListOrientation="horizontal">
    @for (item of items; track item) {
      <div class="example-box" cdkDrag>{{item}}</div>
    }
  </div>
  
  <div class="container test-list" cdkDropList #testList="cdkDropList"
       [cdkDropListData]="test"
       [cdkDropListConnectedTo]="[itemsList]"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListEnterPredicate]="canDrop"
       cdkDropListOrientation="horizontal">
    @for (item of test; track item) {
      <div class="example-box" cdkDrag>{{item}}</div>
    }
  </div>