.container {
    display: flex;
    gap: 10px;
  }

  .items-list {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Augmenter la largeur si nécessaire */
    height: 150px; /* Augmenter la hauteur pour une plus grande hitbox */
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center; /* Pour centrer les items verticalement */
    flex: auto;
    flex-wrap:wrap;
  }

  .test-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Taille fixe */
    height: 100px; /* Hauteur fixe */
    border: 2px solid var(--blue);
    justify-content: center;
    align-items: center;
  }

  .example-box {
    width: 90px;
    height: 90px;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  }
  .example-box:hover {
    background-color: var(--blue-secondary);
    box-shadow: 0 0 10px var(--blue-secondary);
  }
