.container {
    display: flex;
    gap: 10px;
  }

  .items-list {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    width: 400px; /* Augmenter la largeur si nécessaire */
    height: 150px; /* Augmenter la hauteur pour une plus grande hitbox */
    display: flex;
    align-items: center; /* Pour centrer les items verticalement */
    border: 2px dashed transparent; /* Optionnel : peut aider à visualiser */
    padding: 50px;
  }

  .test-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Taille fixe */
    height: 100px; /* Hauteur fixe */
    border: 2px solid black;
    justify-content: center;
    align-items: center;
  }

  .example-box {
    width: 90px;
    height: 90px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
  }
