
  <div class="container items-list" cdkDropList #itemsList="cdkDropList"
       [cdkDropListData]="items"
       [cdkDropListConnectedTo]="[testList]"
       (cdkDropListDropped)="drop($event)"
       cdkDropListOrientation="mixed">
    @for (item of items; track item) {
      <div class="origin-box" cdkDrag><img src="assets/images/{{item.image}}"/><span>{{item.label}}</span></div>
    }
  </div>
  <div class="container test-list" cdkDropList #testList="cdkDropList"
       [cdkDropListData]="test"
       [cdkDropListConnectedTo]="[itemsList]"
       (cdkDropListDropped)="drop($event)"
       [cdkDropListEnterPredicate]="canDrop"
       cdkDropListOrientation="horizontal">
    @for (item of test; track item) {
      <div class="destination-box" cdkDrag><img src="assets/images/{{item.image}}"/></div>
    }
  </div>
