<div class="page-container">

    <h2 class="title glitch">Page Resultat</h2>
    <div class="result-container">

        <div class="container items-list" cdkDropList #itemsList="cdkDropList" [cdkDropListData]="donnees"
            [cdkDropListConnectedTo]="[frigoList, etagereList, placardList]" (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="horizontal">
            @for (item of donnees; track item) {
            <div class="origin-box" cdkDrag><img src="assets/images/{{item.image}}" /><span>{{item.label}}</span></div>
            }
        </div>

        <div class="stockage-container">
            <div class="stockage-wrapper">
                <p class="stockage-title">Frigo</p>
                <div class="container test-list" cdkDropList #frigoList="cdkDropList" [cdkDropListData]="frigo"
                    [cdkDropListConnectedTo]="[itemsList, etagereList, placardList]" (cdkDropListDropped)="drop($event)"
                    cdkDropListOrientation="mixed">

                    @for (item of frigo; track item) {
                        @if(item.correct){
                            <div class="destination-box good-guess" cdkDrag ><img src="assets/images/{{item.image}}" /></div>
                        } @else if (item.correct==false){
                            <div class="destination-box wrong-guess" cdkDrag><img src="assets/images/{{item.image}}" /></div>
                        } @else {
                            <div class="destination-box" cdkDrag><img src="assets/images/{{item.image}}" /></div>
                        }
                    }
                </div>
            </div>
            <div class="stockage-wrapper">
                <p class="stockage-title">Étagère</p>
                <div class="container test-list" cdkDropList #etagereList="cdkDropList" [cdkDropListData]="etagere"
                    [cdkDropListConnectedTo]="[itemsList, frigoList, placardList]" (cdkDropListDropped)="drop($event)"
                    cdkDropListOrientation="mixed">

                    @for (item of etagere; track item) {
                        @if(item.correct){
                            <div class="destination-box good-guess" cdkDrag><img src="assets/images/{{item.image}}" /></div>
                        } @else if (item.correct==false){
                            <div class="destination-box wrong-guess" cdkDrag><img src="assets/images/{{item.image}}" /></div>
                        } @else {
                            <div class="destination-box" cdkDrag><img src="assets/images/{{item.image}}" /></div>
                        }
                    }
                </div>
            </div>
            <div class="stockage-wrapper">
                <p class="stockage-title">Placard fermé</p>
                <div class="container test-list" cdkDropList #placardList="cdkDropList" [cdkDropListData]="placard"
                    [cdkDropListConnectedTo]="[itemsList, frigoList, etagereList]" (cdkDropListDropped)="drop($event)"
                    cdkDropListOrientation="mixed">
                    @for (item of placard; track item) {
                        @if(item.correct){
                            <div class="destination-box good-guess" cdkDrag><img src="assets/images/{{item.image}}" /></div>
                        } @else if (item.correct==false){
                            <div class="destination-box wrong-guess" cdkDrag><img src="assets/images/{{item.image}}" /></div>
                        } @else {
                            <div class="destination-box" cdkDrag><img src="assets/images/{{item.image}}" /></div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button (click)="validerReponses()" class="submit-button button-glitch">Valider les reponses</button>
    </div>
    <div class="copyrights">Toutes les images proviennent de <a href="https://www.pngegg.com/fr">PngEgg</a>.</div>

    <div class="navbar">
        <button (click)="naviguerVers('analyse')" [class.active]="ongletCourant === 'analyse'">
            <i class="fas fa-flask"></i>
            <span>Analyse</span>
        </button>
        <button (click)="naviguerVers('tableau')" [class.active]="ongletCourant === 'tableau'">
            <i class="fas fa-table"></i>
            <span>Tableau</span>
        </button>
        <button (click)="naviguerVers('reponse')" [class.active]="ongletCourant === 'reponse'">
            <i class="fas fa-comments"></i>
            <span>Réponse</span>
        </button>
    </div>
    <app-fenetre-tuto [display]="displayModal" [tutorialContent]="tutorialContent"></app-fenetre-tuto>
</div>