.analyse-components, app-drag-and-drop-item, app-number-selector,app-change-test {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
}


.page-container {
  padding:none;
}


.submit-button {
  position: relative;
  bottom: 10%;
}

