/* Styles for the content */
.content {
    padding-bottom: 60px; /* Space for the navbar */
}

/* Styles for the navbar */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.navbar button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar button i {
    font-size: 20px;
    margin-bottom: 5px;
}

.navbar button.active {
    color: #007bff;
}

.navbar button:hover {
    color: #007bff;
}

/* Responsive styles */
@media (max-width: 600px) {
    .navbar button {
        font-size: 12px;
    }

    .navbar button i {
        font-size: 18px;
    }
}
.analyse-components {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    gap: 15px; /* Ajoute un espacement entre les éléments */
    width: 100%; /* Pour s'assurer que le conteneur prend toute la largeur */
}
app-drag-and-drop-item {
    width: 100%;
    margin-top : 400px
}