
<h1>Page Tableau</h1>

<div class="navbar">
    <button (click)="naviguerVers('analyse')" [class.active]="ongletCourant === 'analyse'">
        <i class="fas fa-flask"></i>
        <span>Analyse</span>
    </button>
    <button (click)="naviguerVers('tableau')" [class.active]="ongletCourant === 'tableau'">
        <i class="fas fa-table"></i>
        <span>Tableau</span>
    </button>
    <button (click)="naviguerVers('reponse')" [class.active]="ongletCourant === 'reponse'">
        <i class="fas fa-comments"></i>
        <span>Réponse</span>
    </button>
</div>
<app-fenetre-tuto [display]="displayModal" [tutorialContent]="tutorialContent"></app-fenetre-tuto>