.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

#ingredients-list-container {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#ingredients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ingredients-list li {
  list-style: none;
  margin: 0.25vw;
  padding: 0.25vw 1vh;
  background: var(--blue);
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#ingredients-list button {
  background-color: azure;
  border-color: azure;
  border-radius: 5px;
  font-size: 0.9rem;
}

#ingredients-list button.active {
  background: #007bff;
  border-color: #007bff;
  color: white;
  font-weight: bold;
}

#ingredient-details table {
  margin-top: 4vh;
  width: 100%;
  border-collapse: collapse;
}

#ingredient-details th,
#ingredient-details td {
  border: 1px solid #007bff;
  padding: 0.5vw;
  text-align: left;
}

#ingredient-details th {
  background-color: #007bff;
  color: white;
}

#ingredient-details .humidité {
  background-color: rgb(184, 212, 255);
}

#ingredient-details .luminosité {
  background-color: rgb(255, 251, 211);
}

#ingredient-details .température {
  background-color: #ffb4b4;
}