
#ingredients-list-container {
  display : flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#ingredients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:5px;
  padding:0;
}

#ingredient-details {
  width: 100%;
  margin-top: 4vh;
}

#ingredient-details table {
  margin-top: 4vh;
  border-collapse: collapse;
  width:100%;
}

#ingredient-details th,
#ingredient-details td {
  border: 1px solid var(--blue-secondary);
  padding: 0.5vw;
  text-align: left;
}

#ingredient-details th {
  background-color: var(--blue);
  color: white;
}

#ingredient-details .humidité {
  background-color: rgb(184, 212, 255);
}

#ingredient-details .luminosité {
  background-color: rgb(255, 251, 211);
}

#ingredient-details .température {
  background-color: #ffb4b4;
}

