html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  